@model dynamic
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

@Html.ActionLink("Gallery", "Index","Gallery")
|
@Html.ActionLink("Users", "Index", "User")
|
@Html.ActionLink("Organizations", "Index", "Organization")

